$ContainerBackground:#0b0a0fe9;

.home{
    background-color: $ContainerBackground;
    min-height: 100vh;
    padding: 0px 0px 0px 120px;
    display:flex;
    gap: 70px;
}
.home__info{
    flex-basis: 60%;
    padding: 220px 20px 0px 60px;
    color:white;
}
.home__picBlok{
    flex-basis: 40%;
    position: relative;
}
.home__pic{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 700px;
    width: auto;
    z-index: 10;
    animation: showRight 2s;
    filter: drop-shadow(80px 20px 150px rgba(255, 147, 203, 0.6)) // тень #1
    drop-shadow(5px 5px 15px rgba(255, 147, 203, 0.6)) // тень #2
    drop-shadow(75px -5px 15px rgba(240, 164, 190, 0.15)); // тень #3
}

@keyframes showTop {
    from {top:-50%; opacity: 0;}
    to {top:0; opacity: 100%;}
}
@keyframes showRight {
    from {opacity:0;}
    to {opacity:100%;}
}

.home__h1{
    position: relative;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 40px;
    animation: showTop 2s;
    line-height: 1.2em;
}

@supports (-webkit-text-stroke: 1px white) {
    .home__h1 span{
        color: transparent;
        -webkit-text-stroke: 1px white;
        text-shadow:
        0 0 30px rgba(244, 132, 197, 0.663),
        0 0 102px rgba(215, 155, 191, 0.527),
        0 0 151px rgba(255, 0, 153, 0.197);
      
    }
}

.home__h2{
    font-size: 26px;
    min-height: 30px;
    margin-bottom: 25px;
    letter-spacing: 0.75em;
    line-height: 2em;

}
.home__text{
    font-size: 16px;
    line-height: 2.5em;
    letter-spacing: .1em;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 680px;
}

.neonBtn{
    position: relative;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1em;
    overflow: hidden;
    transition: .2s;
    margin-bottom: 50px;
}

.neonBtn:hover{
    transition-delay: 1s;
    background-color: rgb(248, 134, 177);
    color: #0b0a0fa1;
    box-shadow: 0 0 10px rgb(248, 134, 177);
  .topLine{
    left: -100%;
    transition: 1s;
    transition-delay: .1s;
  }
  .bottomLine{
    right: -100%;
    transition: 1s;
    transition-delay: .1s;
  }
  .leftLine{
    bottom: -100%;
    transition: 1s;
    transition-delay: .1s;
  }
  .rightLine{
    top: -100%;
    transition: 1s;
    transition-delay: .1s;
  }
}

.neonBtn__line{
    position: absolute;
    display: block;
}

.topLine{
    top:0;
    left: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(248, 134, 177));
}
.rightLine{
    top:0;
    right: 100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, 
    transparent, rgb(248, 134, 177));
}
.bottomLine{
    bottom:0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, 
    transparent, rgb(248, 134, 177));
}
.leftLine{
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, 
    transparent, rgb(248, 134, 177));
}


@media (max-width:1415px){
    .home__h2{
        font-size: 24px;
    }
    .home__h1{
        font-size: 50px;
    }
}
@media (max-width:1200px){
    .home__info{
        padding: 80px 40px 0px 60px;
    }
    .home__pic{
        height: 600px;
    }
    .home__h2{
        font-size: 18px;
    }
    .home__h1{
        font-size: 46px;
    }
}
@media (max-width:1000px){
    .home{
      flex-direction: column;
      gap:10px;
      align-items: center;
      justify-content: center;
    }
    .home__pic{
        position: static;
    }
    .home__picBlok{
        margin: 0 auto;
        overflow: hidden;
    }
    .home__info{
        padding: 80px 40px 0px 60px;
        text-align: center;
    }
    .home__text{
        text-align: center;
    }
}

@media (max-width:768px){
    .home{
        padding: 50px 0px 0px 0px;
    }   
}
@media (max-width:480px){
    .home__h2{
        font-size: 16px;
        line-height: 2em;
    }
    .home__h1{
        font-size: 38px;
    }
    .home__pic{
        height: 300px;
        width: 300px;
        object-fit: scale-down;
    }
}
@media (max-width:300px){  
    .home__pic{
        width: 250px;
        object-fit: scale-down;
    }
}
