
@media (max-width:1300px){
    .workContainer{
        grid-template-columns: repeat(2,350px);
        gap:40px;
    }
}
@media (max-width:920px){
    .workContainer{
        grid-template-columns: repeat(1,350px);
        gap:40px;
    }
    .filterBtns{
        width: 250px;
       display: grid;
       grid-template-columns: repeat(2,auto);
       gap: 15px;
    }
}
@media (max-width:768px){
    .works{
        padding: 50px 0px 0px 0px;
    }
 
}
@media (max-width:600px){
    .filterBtns{
        grid-template-columns: repeat(1,auto);
        gap: 10px;
        width: auto;
        padding: 0px 10px;
     }

    .filterBtns__item{
        width: 350px;
        padding: 10px 15px;
        margin: 0px;
    }
}
@media (max-width:390px){
    .filterBtns__item{
        width: 200px;
    }
    .workContainer{
        grid-template-columns: repeat(1,auto);
        text-align: center;
    }
    .workContainer__item,
    .workContainer__pic{
        width: 220px;
      
    }
}
