$ContainerBackground:#0b0a0fe9;
@import "../About/AboutMe.module.scss";

$backgroundBox: rgb(21, 21, 25);
.contacts{
    background-color: $ContainerBackground;
    height: 100vh;
    padding: 0px 0px 0px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    animation:none;
}
.container{
    margin-bottom: 50px;
}

.contactItem{
    background-color: $backgroundBox;
    padding: 20px;
    box-shadow: 20px 20px 20px rgba(144, 101, 126, 0.263),
    0 0 0 rgba(244, 132, 197, 0.663), 0 0 0 rgba(244, 132, 197, 0.663) inset,
    2px 2px 2px rgba(244, 132, 197, 0.663) inset;
    display: flex;
    align-items: center;
}
.contactItem:hover{
    .contactItem_socialPic{
        transform: scale(1.1);
    }
}
.contactItem_socialPic{
    width: 45x;
    height: 45px;
}
.contactItem__header{
    color: white;
    font-size: 20px;
    padding: 0px 20px;
    width: 100px;
}

.contactItem__info{
    color: white;
    font-size: 16px;
    padding: 0px 20px;
    width: 250px;
}
.contactItem__btn{
    color: #FFB7EA;
    margin-right: 10px;
    font-size: 20px;
    padding: 0px 20px;
}
.contactItem__arrow{
    margin-left: 10px;
    transition: .3s all;
}

.contactItem__btn:hover, 
.contactItem__btn:focus{
    .contactItem__arrow{
        transform: translate(10px, 0px);
        transition: .3s all;
    }
    outline: none;
}


.neonBtn{
    margin-bottom: 50px;
    position: relative;
    width: 270px;
}
.neonBtn:hover::after{
        transition-delay: 1s;
        content: "";
        width: 30px;
        height: 30px;
        background: url("../../img/saveBlack.png") no-repeat;
        position: absolute;
        top: calc(50% - 15px);
        left: 280px;
    }
.neonBtn::after{
    content: "";
    width: 30px;
    height: 30px;
    background: url("../../img/save.png") no-repeat;
    position: absolute;
    top: calc(50% - 15px);
    left: 280px;
}
.save{
    margin-left: 20px;
}
